@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

@theme {
  --color-primary: #b53815;
  --color-secondary: lab(97.7008% 1.53738 5.90646); 
  --color-accent-1: oklch(94.6% 0.033 307.174);
  --color-accent-1-dark: #7450c2;
  --color-accent-2: oklch(95.6% 0.045 203.388);
  --color-accent-2-dark: #4c8eb1;
  --color-accent-3: #D1F878;
  --color-accent-3-dark: #D1F878;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --font-primary-regular: var(--font-primary-regular);
  --font-mono: var(--font-geist-mono);
}

.outline-text {
  color: rgba(0, 0, 0, 0);
  /* Fill color */
  -webkit-text-stroke-width: 1.5px;
  /* Outline thickness */
  -webkit-text-stroke-color: black;
  /* Outline color */
}